body{
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}
.bg{
 background: url(../images/cover.jpg) no-repeat center;
 background-size: cover;
 position: absolute;
 z-index: 0;
 right: -80px;
 left: -40px;
 top: -40px;
 bottom: -100px;
 filter: blur(10px);
}
.box{
 width: 300px;
 background: white;
 border-radius: 5px;
 position: relative;
 z-index: 1;
 box-shadow: 0 0 20px black;
}
.box-content{
 text-align: center;
 padding: 30px;
}
.arrow{
 width: 30px;
}
.arrow:hover{
 box-shadow: 0 0 10px 2px black;
}
p{
 font-size: 20px;
}
